.canvas {
    position: absolute;
}

.fps {
    position: absolute;
    z-index: 1;
    color: wheat;
}

.view {
    position: absolute;
    z-index: 1;
    font-size: 50px;
    color: wheat;
    margin: 0 auto;
    width: 100%;
    height: 100%;
    display: none;
    display: flex;
    align-items: center;
    .container{
        text-align: center;
        padding: 20px;
        display: flex;
        justify-content: center;
        margin: 0 auto;
        width: 50%;
        height: auto;
        background: rgba(255, 255, 255, 0);
        &:hover{
            background: rgba(255, 255, 255, 0.425);
        }
    }
}
